main{
    justify-content: center;
}
.botao{
    padding: 10px ;
    font-weight: bold;
    background-color: #343A40;
    width: fit-content;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease
}
.botao:hover{
    transform: scale(1.08);
}
.botao a{
    text-decoration: none;
}