<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/home/style.css}">
    <title>MeuCardápio</title>
</head>
<body>
    <main>
        <div class="texto">
            <h1>MeuCardápio</h1>
            <h2>A plataforma perfeita para o seu negócio!</h2>
        </div>
        <div class="botao"> 
            <a href="/front/cardapiocreator/index.html" class="">Criar Cardápio</a>
        </div>
        <div class="botao">
            <a href="/front/cardapiocreator/index.html" class="">Editar Cardápio já existente</a>
        </div>
    </main>
</body>
</html>