@font-face {
    font-family: "Inter";
    src: url("/assets/Inter18pt.ttf");
}
html,body{
    height: 100%;
}
*{
    color: #212529;
    padding: 0;
    margin: 0;
    font-family: "Inter";
}
main{
    gap: 50px;
    background-color: #6C757D ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
