@font-face {
    font-family: "MontSerrat";
    src: url("/assets/Montserrat-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-family: "MontSerrat";
    font-weight: 600;
}
header{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
}
header .logo{
    height: auto;
}
header form{
    display: flex;
    justify-content: center;
    align-self: center;
}
header form input{
    padding: 5px;
    border-radius: 10vh;
    background-color:#ebeaea;
    border:none;
}
.search{
    margin-left: 5px;
    padding: 5px;
    background-color: #ebeaea;
    border-radius: 2vh;
    width: fit-content;
}